# Compiled files
/target/

# These directories include intermediate build files and should be ignored
**/target/

# Ignore Cargo.lock in libraries
# Uncomment when creating a library
# Cargo.lock

# Ignore .env file containing environment variables
.env

# Ignore files related to IDE
.idea/
*.iml
*.swp
.vscode/